.list-service {
  ul {
    li {
      opacity: 0.25;
      cursor: pointer;

      &.active,
      &:hover {
        opacity: 1;

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: "";
        width: 12px;
        height: 12px;
        background: #97DAFF;
        position: absolute;
        top: calc(50% - 6px);
        left: 0;
        opacity: 0;
      }
    }
  }
}

.item-casestudy {
  .avarta {
    &:hover {
      .desc-absolute {
        opacity: 1;
      }
    }
  }

  .desc-absolute {
    opacity: 0;
    transition: .4s all !important;
    pointer-events: none;
  }
}

.swiper-model-1 .swiper-wrapper,
.swiper-model-2 .swiper-wrapper {
  transition-timing-function: linear;
}

.form-contact {
  .txt_field {
    border: 1px solid #FFFFFF26;
    background-color: #282834;
    transition: .3s all !important;
    outline: 1px solid transparent;
    height: 72px;

    @media (max-width:1023px) {
      height: 64px;
    }

    &:focus {
      outline: #9A9DFF solid 1px;
    }

    // &::placeholder {
    //   color: #9A9DFF;
    // }

  }

  select {
    border: 1px solid #FFFFFF26 !important;
    background-color: #282834 !important;
    transition: .3s all !important;
    outline: 1px solid transparent;
    height: 72px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;

    @media (max-width:1023px) {
      height: 64px;
    }

    &:focus {
      outline: #9A9DFF solid 1px;
    }

  }

  textarea {
    border: 1px solid #FFFFFF26 !important;
    background-color: #282834 !important;
    transition: .3s all !important;
    outline: 1px solid transparent;
    height: 144px;
    padding: 24px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;

    &:focus {
      outline: #9A9DFF solid 1px;
    }

  }

  .button_field {
    width: max-content;
    position: relative;

    @media (max-width:1023px) {
      margin: 0 auto;
    }

    .btn_field {
      min-width: 167px;
      height: 56px;
      text-align: center;
      border: 1px solid #FFFFFF14;
      background: #FFFFFF14;
    }
  }

  .icon {
    img {
      @media (max-width:1023px) {
        width: 24px;
      }
    }
  }


}

.single-text {
  p {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.item-idea {
  >div {
    padding-bottom: 248px;

    @media (max-width: 1600px) {
      padding-bottom: 150px;
    }

    @media (max-width: 767px) {
      padding: 24px;
    }
  }

  &:nth-child(2n+1) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &:nth-child(2n) {
    >div {
      padding-bottom: 400px;

      @media (max-width: 1600px) {
        padding-bottom: 250px;
      }

      @media (max-width: 767px) {
        padding: 24px;
      }
    }
  }

  .desc {
    @media (max-width: 767px) {
      font-size: 16px;

    }
  }
}

.item-tools {
  position: relative;
  z-index: 1;
  transition: all 0.4s ease;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #8B86F7;
    transition: height 0.4s ease-in-out;
    z-index: -1;
  }

  &:hover {
    &::before {
      height: 100%;
    }

    .logo {
      opacity: 1 !important;
    }
  }

  span, .logo {
    position: relative;
    z-index: 2;
  }

  .logo {
    transition: opacity 0.4s ease-in-out;
  }
}